doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
        link(rel="stylesheet" href="/index.css")
        title API Solution for MyDoc Challenge | Joseph Obiagba
    body
        section
            header
                h4 Joseph Obiagba
                h5 MyDoc's Backend Challenge Solution
            article
                h2.top Overview
                p As you might have guessed from the header, I got considered for MyDoc's Backend role. But to test my suitability, I was given 3 APIs to build to test my expertise in developing solutions to problems using programming.
                p.second I developed the solution using JavaScript with ExpressJS (a NodeJS framework) primarily. Database used was MongoDB which I connected to using Mongoose. Testing was done with Mocha (plus Superagent and Expect). For automated testing & CI/CD, Heroku CI was used to create a pipeline for development, staging, and production.
                h2.mid API Endpoints
                h6 POST
                p.api https://mydoc-code-test.herokuapp.com/api/v1/object
                h6.second GET (without Timestamp)
                p.api https://mydoc-code-test.herokuapp.com/api/v1/object/:mykey
                h6.second GET (with Timestamp)
                p.api https://mydoc-code-test.herokuapp.com/timestamp/api/v1/object/:mykey/:timestamp
                h2.bottom Documentation
                h6 API documentation
                a(href="https://documenter.getpostman.com/view/5530976/SWE83c8J?version=latest#intro", target="_blank") Documentation by POSTMAN
                h6.scnd CodeBase on GitHub
                a(href="https://github.com/jiobiagba/mydoc-nodeBackendChallenge-joseph", target="_blank") Version Control with Git & GitHub
                h6.scnd CI/CD Tool
                a(href="https://dashboard.heroku.com/pipelines/4b6e50f8-ec47-4b9d-9dd6-e4014028a104", target="_blank") CI/CD by Heroku
            footer
                p Webpage: AdobeXD +HTML5 (Jade) + CSS3
                a.footer(href="https://github.com/jiobiagba", target="_blank") Joseph's Github
                h5 &copy Dec 2019